* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* This is a tag selector */
body {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 3px;
        height: 40px;
        position: fixed;
        width: 100%;
        top:0;


        background-color: black;
        h1 {
            color: white;
            
        }

        nav {
            
            a {
                color: white;
                text-decoration: none;
                text-shadow: 1px 1px 1px  rgb(71, 104, 22);
                transition-duration: 1s;
            }
            a:hover {
                color: rgb(0, 255, 255);
                transition-duration: 500ms;
            }
        }
    }

    main {
        margin-top: 44px;
        section {
            width: 80%;
            /* background-color: grey; */
            margin: auto;
            margin-top: 10px;

            

        }

        div#floating-help {
            background-color: rgb(0, 0, 0);
            height: 100px;
            aspect-ratio: 1/1;
            position: fixed;
            bottom: 20px;
            right:20px;
            opacity: 80%;
            
        }
        section#intro {
            display: flex;
            /* max-width: 550px; */
            width: 400px;
            color: white;
            background-color: black;
            
            figure {
                height: 200px;
                width: 50%;
                
                img {
                    width: 100%;
                    height: 80%;
                    
                    object-fit: cover;
                    object-position: 0px 0px;;
                }
                figcaption {
                    padding-left: 4px;
                    /* color:rgb(0, 0, 0); */
                }
            }

            div#intro-quote {
               
                width: 50%;
                padding: 5px;
                /* border: 1px solid; */

                display: flex;
                flex-direction: column;
                justify-content: center;
                font-size: larger;
                
        
            }
        }

        section#skills {
            div.skill-box {
                display: flex;
                flex-wrap: wrap;
                span.skill {
                    background-color: black;
                    color: white;
                    height: 30px;
                    padding: 3px 4px;
                    margin: 2px 2px;
                    cursor:cell;
                    transition-duration: 1s;
                }
                span.skill:hover {
                    color: black;
                    background-color: white;
                    transition-duration: 700ms;
                    box-shadow:1px 1px 3px 1px  rgb(0, 255, 255);
                }
            }
        }

        section#projects {
            div.grid-4 {
                display: grid;
                grid-template-columns: auto auto auto;
                gap: 4px;
                div.card {
                    height: 150px;
                    width: 150px;

                    div.card-img {
                        height: 50%;
                        img {
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                        }
                    }
                    div.card-body {
                        height: 50%;
                        color: white;
                        background-color: rgb(0, 0, 0);
                        padding: 5px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-evenly;
                        h4{
                            text-shadow: 1px 1px 1px rgb(0, 57, 80);
                        }
                        span {
                            font-size: small;
                        }
                        


                    }


                }

            }
        }

        section#dummy {
            height: 2000px;
            background-color: black;
        }

     
    }

}




.shadow {
    box-shadow: 1px 1px 3px 1px  grey;
}

.rounded-edge {
    border-radius: 5px;
    overflow: hidden;
}