* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* This is a tag selector */
body {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 3px;


        background-color: black;
        h1 {
            color: white;
            
        }

        nav {
            
            a {
                color: white;
                text-decoration: none;
                text-shadow: 1px 1px 1px  rgb(71, 104, 22);
                transition-duration: 1s;
            }
            a:hover {
                color: rgb(158, 246, 27);
                transition-duration: 500ms;
            }
        }
    }

    main {
        section {
            width: 80%;
            /* background-color: grey; */
            margin: auto;
            margin-top: 10px;

            

        }
        section#intro {
            display: flex;
            
            figure {
                height: 200px;
                width: 50%;
                
                img {
                    width: 100%;
                    height: 80%;
                    object-fit: cover;
                    object-position: 0px 0px;;
                }
                figcaption {
                    padding-left: 4px;
                    color:rgb(0, 0, 0);
                }
            }

            div#intro-quote {
               
                width: 50%;
                padding: 5px;
                /* border: 1px solid; */

                display: flex;
                flex-direction: column;
                justify-content: center;
                
        
            }
        }

     
    }

}




.shadow {
    box-shadow: 1px 1px 3px 1px  grey;
}

.rounded-edge {
    border-radius: 5px;
    overflow: hidden;
}